@import "tailwindcss";
@plugin "daisyui";

.my-btn {
  @apply px-4 py-2 rounded-xl border hover:border-gray-300 border-gray-200 text-lg font-semibold cursor-pointer;
}

.primary {
  @apply bg-[#CAEB66];
}
